:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  font: 18px/145% var(--sans);
  font-size: 18px;

  color: #6b6375;
  background-color: #ffffff;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  min-height: 100vh;

  margin: 0 auto;
  box-sizing: border-box;

  text-align: center;
}
#root::before,
#root::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;

  width: 1px;
  background-color: #dddddd;
}

#root::before {
  left: calc(50% - 563px);
}

#root::after {
  right: calc(50% - 563px);
}
/* =========================
   SALL SCREANS
   ========================= */

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }

  h1 {
    margin: 20px 0;
    font-size: 36px;
  }

  h2 {
    font-size: 20px;
  }
}
